@charset "UTF-8";

body {
 background-color:#f0f8ff;

font-family :Century Gothic;
}


h2{
	color:HOTPINK;
	font-family :Century Gothic;
	text-align:center;
}
.cart{
text-align:center;

}